MONGODB_URI=mongodb+srv://mantonmanorathan:ShiftSwap123@clustershiftswap.bhd1xn7.mongodb.net/shiftswap?retryWrites=true&w=majority&appName=ClusterShiftSwap
JWT_SECRET=shiftswap_super_secret_2026_xyz
JWT_EXPIRES_IN=7d
PORT=5000
NODE_ENV=development
